In [ ]:
a=1
print(type(a))
b='a'
print(type(b))

In [ ]:
import math
class MyCircle:
    def set_r(self, r):
        self.r=r

    def length(self):#둘레
        self.a=2 * math.pi * self.r

    def area(self):#면적
        self.b=math.pi * self.r * self.r

    def disp(self):
        print('반지름:{}, 둘레:{:.2f}, 넓이:{:.2f}'.format(self.r,self.a,self.b))

In [ ]:
a=MyCircle()
a.set_r(50)
a.length()
a.area()
a.disp()

In [ ]:
class Person:
    name=''
    age=0
    height=0

p1=Person()
p1.name='John'
p1.age=20
p1.height=187.3
print(f'name:{p1.name}, age:{p1.age}, height:{p1.height}')

In [ ]:
class Person:
    name=''
    age=0
    height=0
    def disp(self):
        print(f'name:{self.name}, age:{self.age}, height:{self.height}')

p2=Person()
p2.name='John'
p2.age=50
p2.height=185.5
p2.disp()

In [ ]:
class Person:
    name=''
    age=0
    height=0
    def set_age(self, age):
        if age>100 or age<0:
            self.age=int(input('please input correct age:'))
        else:
            self.age=age

    def disp(self):
        print(f'name:{self.name}, age:{self.age}, height:{self.height}')

p3=Person()
p3.name='John'
p3.set_age(-100)
p3.height=188.7
p3.disp()

In [ ]:
class Emp:
    name=''
    salary=0
    bonus=0
    money=0

e1=Emp()
e1.name='John'
e1.salary=500
e1.bonus=300
e1.money=e1.salary*12 + e1.bonus
print(f'name:{e1.name}, salary:{e1.salary}, bonus:{e1.bonus}, money:{e1.money}')

In [ ]:
class Emp:
    name=''
    salary=0
    bonus=0
    money=0
    def __init__(self,name,salary,bonus):
    #초기화함수
        self.name = name
        self.salary = salary
        self.bonus = bonus

    def disp(self):
        print(f'name:{self.name},salary:{self.salary},bonus:{self.bonus},money:{self.money}')


e3=Emp('John',500,700)
e3.money=e3.salary*12 + e3.bonus
e3.disp()

In [ ]:
class Emp:
    name=''
    salary=0
    bonus=0
    money=0
    def __init__(self,name,salary,bonus):
    #초기화함수
        self.name = name
        self.salary = salary
        self.bonus = bonus

    def calc(self):
        self.money=self.salary*12 + self.bonus

    def disp(self):
        print(f'name:{self.name},salary:{self.salary},bonus:{self.bonus},money:{self.money}')


e4=Emp('John',500,700)
e4.calc()
e4.disp()

In [ ]:
class Point:
    name=''
    kor=0
    eng=0
    mat=0
    tot=0
    avg=0
    grage=''

p1 = Point()
p1.name = 'John'
p1.kor = 80
p1.eng = 90
p1.mat = 95
p1.tot = p1.kor + p1.eng + p1.mat
p1.avg = p1.tot / 3
if 90 <= p1.avg <= 100:
    p1.grade='A'
elif 80 <= p1.avg < 90:
    p1.grade = 'B'
elif 70 <= p1.avg < 80:
    p1.grade = 'C'
elif 60 <= p1.avg < 70:
    p1.grade = 'D'
else:
    p1.grade = 'F'

print('name\tkor\teng\tmat\ttot\tavg\tgrage')
print(f'{p1.name}\t{p1.kor}\t{p1.eng}\t{p1.mat}\t{p1.tot}\t{p1.avg:.1f}\t{p1.grade}')

In [ ]:
class Point:
    name=''
    kor=0
    eng=0
    mat=0
    tot=0
    avg=0
    grage=''

    def __init__(self, name, kor, eng, mat):
        self.name = name
        self.kor = kor
        self.eng = eng
        self.mat = mat

p2 = Point('John', 88, 100, 99)
p2.tot = p2.kor + p2.eng + p2.mat
p2.avg = p2.tot / 3

if 90 <= p2.avg <= 100:
    p2.grade='A'
elif 80 <= p2.avg < 90:
    p2.grade = 'B'
elif 70 <= p2.avg < 80:
    p2.grade = 'C'
elif 60 <= p2.avg < 70:
    p2.grade = 'D'
else:
    p2.grade = 'F'

print('name\tkor\teng\tmat\ttot\tavg\tgrade')
print(f'{p2.name}\t{p2.kor}\t{p2.eng}\t{p2.mat}\t{p2.tot}\t{p2.avg:.1f}\t{p2.grade}')

In [2]:
class Point:
    def __init__(self, name, kor, eng, mat):
        self.name = name
        self.kor = kor
        self.eng = eng
        self.mat = mat

    def calc(self):
        self.tot = self.kor + self.eng + self.mat
        self.avg = self.tot / 3
        if 90 <= self.avg <= 100:
            self.grade='A'
        elif 80 <= self.avg < 90:
            self.grade = 'B'
        elif 70 <= self.avg < 80:
            self.grade = 'C'
        elif 60 <= self.avg < 70:
            self.grade = 'D'
        else:
            self.grade = 'F'
    
    def disp(self):
        print('name\tkor\teng\tmat\ttot\tavg\tgrade')
        print(f'{self.name}\t{self.kor}\t{self.eng}\t{self.mat}\t{self.tot}\t{self.avg:.1f}\t{self.grade}')

p4=Point('John', 88, 99, 100)
p4.calc()
p4.disp()

    #네 이해했습니다. 감사합니다.

name	kor	eng	mat	tot	avg	grade
John	88	99	100	287	95.7	A

In [3]:
class Book:
    def __init__(self,name,price):
        self.name = name
        self.price = price

    def disp(self):
        print(f'name:{self.name}\t price:{self:price}')

In [8]:
class BookSale(Book):
    def __init__(self, name, price, amount):
        Book.__init__(self, name, price)
        self.amount = amount

    def calc(self):
        self.money = self.price * self.amount
        if 1 <= self.amount <= 1000:
            self.fee = self.amount * 0.01
        elif 1001 <= self.amount <= 3000:
            self.fee = self.money * 0.03
        elif 3001 <= self.amount:
            self.fee = self.money * 0.05

    def disp(self):
        print(f'{self.name}\t{self.price}\t{self.amount}\t{self.money}\t{self.fee}')

In [9]:
b1 = BookSale('Java', 50000, 1000)
b1.calc()
b1.disp()

b2 = BookSale('C', 40000, 2500)
b2.calc()
b2.disp()

b3=BookSale('Python', 35000, 3500)
b3.calc()
b3.disp()

Java	50000	1000	50000000	10.0
C	40000	2500	100000000	3000000.0
Python	35000	3500	122500000	6125000.0