In [1]:
import pymongo
from pymongo import MongoClient

In [2]:
conn = MongoClient('localhost', 27017)
conn

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [13]:
db = conn.web
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web')

In [14]:
students=db.students
students

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web'), 'students')

In [24]:
try:
    students.drop()
except:
    print("no data")

In [25]:
row1={'no':1, 'name':'John', 'kor':90, 'eng':80, 'mat':77}
row2={'no':2, 'name':'Bob', 'kor':95, 'eng':83, 'mat':75}
row3={'no':3, 'name':'Sarah', 'kor':92, 'eng':87, 'mat':76}

students.insert_one(row1)
students.insert_one(row2)
students.insert_one(row3)

rows=students.find()
for row in rows:
    print(row)

{'_id': ObjectId('619722db1ab3bd6bcc9d8546'), 'no': 1, 'name': 'John', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('619722db1ab3bd6bcc9d8547'), 'no': 2, 'name': 'Bob', 'kor': 95, 'eng': 83, 'mat': 75}
{'_id': ObjectId('619722db1ab3bd6bcc9d8548'), 'no': 3, 'name': 'Sarah', 'kor': 92, 'eng': 87, 'mat': 76}

In [26]:
students.delete_one({'no':2})

In [27]:
rows=students.find()
for row in rows:
    print(row)

{'_id': ObjectId('619722db1ab3bd6bcc9d8546'), 'no': 1, 'name': 'John', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('619722db1ab3bd6bcc9d8548'), 'no': 3, 'name': 'Sarah', 'kor': 92, 'eng': 87, 'mat': 76}

In [20]:
students.update_one({'no':1}, {'$set':{'kor':100, 'eng':100}})

In [21]:
rows = students.find()
for row in rows:
    print(row)

{'_id': ObjectId('61971eba1ab3bd6bcc9d8540'), 'no': 1, 'name': 'John', 'kor': 100, 'eng': 100, 'mat': 77}
{'_id': ObjectId('61971eba1ab3bd6bcc9d8542'), 'no': 3, 'name': 'Sarah', 'kor': 92, 'eng': 87, 'mat': 76}
{'_id': ObjectId('61971ec41ab3bd6bcc9d8543'), 'no': 1, 'name': 'John', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('61971ec41ab3bd6bcc9d8544'), 'no': 2, 'name': 'Bob', 'kor': 95, 'eng': 83, 'mat': 75}
{'_id': ObjectId('61971ec41ab3bd6bcc9d8545'), 'no': 3, 'name': 'Sarah', 'kor': 92, 'eng': 87, 'mat': 76}

In [31]:
rows = students.find()
for row in rows:
    tot=row['kor']+row['eng']+row['mat']
    avg=tot/3
    if avg >= 90:
        grade='A'
    elif 80 <= avg < 90:
        grade='B'
    elif 70 <= avg < 80:
        grade='C'
    elif 60 <= avg < 70:
        grade='D'
    else:
        grade='F'
    students.update_one({'no':row['no']}, {'$set':{'tot':tot,  'avg':f'{avg:.1f}', 'grade':grade}})

rows = students.find()
for row in rows:
    print(row)

{'_id': ObjectId('619722db1ab3bd6bcc9d8546'), 'no': 1, 'name': 'John', 'kor': 90, 'eng': 80, 'mat': 77, 'avg': '82.3', 'grade': 'B', 'tot': 247}
{'_id': ObjectId('619722db1ab3bd6bcc9d8548'), 'no': 3, 'name': 'Sarah', 'kor': 92, 'eng': 87, 'mat': 76, 'avg': '85.0', 'grade': 'B', 'tot': 255}