In [2]:
t1=(1,2,'a','b')
print(t1)
print(t1[0])
print(t1[1:])

t2=(3,4)
print(t1+t2)
print(t2*3)

(1, 2, 'a', 'b')
1
(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
(3, 4, 3, 4, 3, 4)

In [5]:
t1=(1,2,3)
n1,n2,n3 = t1
print('{0} {1} {2}'.format(n1,n2,n3))

n1,n2 = n2,n1
print("{} {}".format(n1,n2))

1 2 3
2 1

In [6]:
my_list = [1,2,3]
my_tuple = ('x', 'y', 'z')
print(tuple(my_list))
print(list(my_tuple))

(1, 2, 3)
['x', 'y', 'z']

In [7]:
a = {1: 'a'}
a[2] = 'b'
print(a)

{1: 'a', 2: 'b'}

In [8]:
a={'name':'John', 'phone':'01012345678', 'birth':'901231'}
print(a['name'])
print(a.get('name'))
print(a['phone'])
print(a.get('phone'))
print(a['birth'])
print(a.get('birth'))

John
John
01012345678
01012345678
901231
901231

In [9]:
a={'name':'John', 'phone':'01012345678', 'birth':'901231'}
b=a.values()
print(b)

dict_values(['John', '01012345678', '901231'])

In [10]:
a={'name':'John', 'phone':'01012345678', 'birth':'901231'}
print(a.items())

dict_items([('name', 'John'), ('phone', '01012345678'), ('birth', '901231')])

In [11]:
a={'name':'John', 'phone':'01012345678', 'birth':'901231'}
b='name' in a
print(b)
b='email' in a
print(b)

True
False

In [12]:
s1 = set([1,2,3])
print(s1)

{1, 2, 3}

In [14]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s3 = s1 & s2
print(s3)
s4 = s1|s2 # 합집합
print(s4)
s4 = s1.union(s2)
print(s4)
s5 = s1 - s2 # 차집합
print(s5)
s5 = s1.difference(s2)
print(s5)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}

In [15]:
from datetime import date, time, datetime, timedelta

today = date.today()
print('today:{0}'.format(today))

print('year: {0}'.format(today.year))
print('month:{0}'.format(today.month))
print('date:{0}'.format(today.day))

current_datetime = datetime.today()
print('datetime:{0}'.format(current_datetime))

today:2021-11-11
year: 2021
month:11
date:11
datetime:2021-11-11 12:52:47.316277

In [17]:
today = date.today()
days = timedelta(days=-1)
print('yesterday:{0!s}'.format(today + days))

days=timedelta(days=-7)
print('1week ago:{0!s}'.format(today + days))

days=timedelta(days=-30)
print('30days ago:{0!s}'.format(today + days))

hours = timedelta(hours=-8)
print('{0!s}day {1!s}second'.format(hours.days, hours.seconds))

yesterday:2021-11-10
1week ago:2021-11-04
30days ago:2021-10-12
-1day 57600second

In [20]:
today = datetime.today()
print('{}'.format(today.strftime('%m/%d/%Y')))
print('{}'.format(today.strftime('%Y-%m-%d %H:%M:%S')))
print('{}'.format(today.strftime('%y-%m-%d %I:%M:%S')))

11/11/2021
2021-11-11 13:03:10
21-11-11 01:03:10

In [23]:
from datetime import datetime
dateStr = '2015-04-15 12:23:38'
days=timedelta(days=-1)
# print( dateStr + days )
myDate = datetime.strptime(dateStr, '%Y-%m-%d %H:%M:%S')
print(type(myDate))
print(myDate)
days=timedelta(days=-1)
print( myDate + days)

<class 'datetime.datetime'>
2015-04-15 12:23:38
2015-04-14 12:23:38

In [25]:
import time
print(time.time())

t = time.time()
print(time.ctime(t)) #문자열로 변환

1636603763.5719576
Thu Nov 11 13:09:23 2021

In [27]:
import datetime
now = datetime.datetime.now()
print('%dyear %dmonth %ddate' % (now.year, now.month, now.day))
print('%d:%d:%d' % (now.hour, now.minute, now.second))

2021year 11month 11date
13:15:26

In [29]:
import time
start = time.time()
for a in range(1000):
    print(a, end="")
end = time.time()
print()
print(end - start)

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100101102103104105106107108109110111112113114115116117118119120121122123124125126127128129130131132133134135136137138139140141142143144145146147148149150151152153154155156157158159160161162163164165166167168169170171172173174175176177178179180181182183184185186187188189190191192193194195196197198199200201202203204205206207208209210211212213214215216217218219220221222223224225226227228229230231232233234235236237238239240241242243244245246247248249250251252253254255256257258259260261262263264265266267268269270271272273274275276277278279280281282283284285286287288289290291292293294295296297298299300301302303304305306307308309310311312313314315316317318319320321322323324325326327328329330331332333334335336337338339340341342343344345346347348349350351352353354355356357358359360361362363364365366367368369370371372373374375376377378379380381382383384385386387388389390391392393394395396397398399400401402403404405406407408409410411412413414415416417418419420421422423424425426427428429430431432433434435436437438439440441442443444445446447448449450451452453454455456457458459460461462463464465466467468469470471472473474475476477478479480481482483484485486487488489490491492493494495496497498499500501502503504505506507508509510511512513514515516517518519520521522523524525526527528529530531532533534535536537538539540541542543544545546547548549550551552553554555556557558559560561562563564565566567568569570571572573574575576577578579580581582583584585586587588589590591592593594595596597598599600601602603604605606607608609610611612613614615616617618619620621622623624625626627628629630631632633634635636637638639640641642643644645646647648649650651652653654655656657658659660661662663664665666667668669670671672673674675676677678679680681682683684685686687688689690691692693694695696697698699700701702703704705706707708709710711712713714715716717718719720721722723724725726727728729730731732733734735736737738739740741742743744745746747748749750751752753754755756757758759760761762763764765766767768769770771772773774775776777778779780781782783784785786787788789790791792793794795796797798799800801802803804805806807808809810811812813814815816817818819820821822823824825826827828829830831832833834835836837838839840841842843844845846847848849850851852853854855856857858859860861862863864865866867868869870871872873874875876877878879880881882883884885886887888889890891892893894895896897898899900901902903904905906907908909910911912913914915916917918919920921922923924925926927928929930931932933934935936937938939940941942943944945946947948949950951952953954955956957958959960961962963964965966967968969970971972973974975976977978979980981982983984985986987988989990991992993994995996997998999
0.04188656806945801

In [30]:
import time
print("1")
time.sleep(1)
print("2")
time.sleep(5)
print("7")

1
2
7

In [1]:
import time
for dan in range(2,10):
    print(dan, '단')
    for hang in range(1,10):
        print(dan, "*", hang, "=", dan*hang)
        time.sleep(0.2)
    print()
    time.sleep(1)

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [2]:
import calendar
print(calendar.calendar(2018))
print(calendar.month(2019,1))

                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

    January 2019
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [3]:
calendar.prcal(2018)
calendar.prmonth(2019,1)

                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31
    January 2019
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [4]:
import calendar
yoil = ['월','화','수','목','금','토','일']
day=calendar.weekday(2020,8,15)
print('광복절은', yoil[day] + "요일입니다.")

광복절은 토요일입니다.