In [ ]:
import requests
result=requests.get('http://localhost/shop/cart_list')
result.text

In [3]:
import requests
from bs4 import BeautifulSoup

params={'username': 'lim', 'password': '1234'}
session=requests.Session() #세션객체 생성

#post 방식 요청
s=session.post('http://localhost/member/login', params)
res=session.get('http://localhost/shop/cart_list')

bs=BeautifulSoup(res.text, 'html.parser')
carts = bs.select('table > tr > td > span')
for cart in carts:
    a = cart.text
    print(a)

오렌지

In [13]:
#https://search.kyobobook.co.kr/web/search?vPstrKeyWord=python&searchPcondition=1&searchCategory=%EA%B5%AD%EB%82%B4%EB%8F%84%EC%84%9C@KORBOOK&collName=KORBOOK&from_CollName=%EA%B5%AD%EB%82%B4%EB%8F%84%EC%84%9C@KORBOOK&searchOrder=0&vPstrTab=PRODUCT&from_coll=KORBOOK&currentPage=1&orderClick=LAH

#search_list > tr:nth-child(11) > td.detail > div.title > a > strong
#search_list > tr:nth-child(11) > td.price > div.org_price
#search_list > tr:nth-child(11) > td.detail > div.author > a:nth-child(1)

#search_list > tr:nth-child(22) > td.detail > div.title > a > strong

from urllib.request import urlopen
from bs4 import BeautifulSoup

html = urlopen('https://search.kyobobook.co.kr/web/search?vPstrKeyWord=python&searchPcondition=1&searchCategory=%EA%B5%AD%EB%82%B4%EB%8F%84%EC%84%9C@KORBOOK&collName=KORBOOK&from_CollName=%EA%B5%AD%EB%82%B4%EB%8F%84%EC%84%9C@KORBOOK&searchOrder=0&vPstrTab=PRODUCT&from_coll=KORBOOK&currentPage=1&orderClick=LAH')
bs = BeautifulSoup(html, 'html.parser')

titles = bs.select('tr > td.detail > div.title > a > strong')
authors = bs.select('tr > td.detail > div.author > a:nth-child(1)')
prices = bs.select('tr > td.price > div.org_price')
books = list(zip(titles, authors, prices))
print(len(titles), '권이 검색되었습니다.')
print('=============================================')
for book in books:
    print(book[0].text.strip(), '-', book[1].text.strip(), '-', book[2].text.strip())

22 권이 검색되었습니다.
=============================================
혼자 공부하는 파이썬 - 윤인성 - 18,000원
Do it! 점프 투 파이썬 - 박응용 - 18,800원
비전공자를 위한 이해할 수 있는 IT 지식 - 최원영 - 16,800원
파이어족 강환국의 하면 된다! 퀀트 투자 - 강환국 - 18,700원
이것이 취업을 위한 코딩 테스트다 with 파이썬 - 나동빈 - 34,000원
파이썬 알고리즘 인터뷰 - 박상길 - 38,000원
오늘부터 개발자 - 김병욱 - 15,000원
초보자를 위한 파이썬(Python) 200제 - 장삼용 - 20,000원
파이썬 딥러닝 파이토치(Python Deep Learning PyTorch) - 이경택 - 25,000원
파이썬 머신러닝 완벽 가이드 - 권철민 - 38,000원
작심 3일 파이썬 Python - 황덕창 - 18,000원
The Python - 파이썬 프로그래밍 - 허진경 - 32,000원
The Python - 파이썬 프로그래밍(합본) - 허진경 - 54,800원
씽크 파이썬(Think Python) - 앨런 다우니 - 22,000원
파이썬(Python): 1학년 - 모리 요시나오 - 17,000원
파이썬(Python) 2학년 스크래핑의 구조 - 모리 요시나오 - 17,000원
머신 러닝 교과서 with 파이썬, 사이킷런, 텐서플로 - 세바스찬 라시카 - 44,000원
파이썬만 잡아도: 기초를 탄탄히 세우는 Python 프로그래밍 - 김병만 - 25,000원
Let’s Start Coding with Raptor & Python (랩터 & 파이썬) - 김충석 - 24,000원
파이썬을 이용한 비트코인 자동매매 - 유대표 - 27,000원

In [ ]:
items=[]
print(books)
for book in books:
    items.append([book[0].text.strip(), book[1].text.strip(),book[2].text.strip()])

In [15]:
import pandas as pd

df = pd.DataFrame(items, columns=['도서명', '저자', '정가'])
df.head()

                           도서명   저자       정가
0                  혼자 공부하는 파이썬  윤인성  18,000원
1              Do it! 점프 투 파이썬  박응용  18,800원
2      비전공자를 위한 이해할 수 있는 IT 지식  최원영  16,800원
3       파이어족 강환국의 하면 된다! 퀀트 투자  강환국  18,700원
4  이것이 취업을 위한 코딩 테스트다 with 파이썬  나동빈  34,000원

In [17]:
df.to_csv('c:/data/book/data.csv', encoding='ms949', index=False)

In [ ]:
#totalpage
total = bs.select('#totalpage')
pages=int(total.text.strip())

In [21]:
# 마지막 페이지 번호 계산
# 마지막 페이지 번호 계산을 위한 링크를 찾는 부분에서 설명을 놓쳤습니다.
import math

html = urlopen('https://search.kyobobook.co.kr/web/search?vPstrKeyWord=python&searchPcondition=1&searchCategory=%EA%B5%AD%EB%82%B4%EB%8F%84%EC%84%9C@KORBOOK&collName=KORBOOK&from_CollName=%EA%B5%AD%EB%82%B4%EB%8F%84%EC%84%9C@KORBOOK&searchOrder=0&vPstrTab=PRODUCT&from_coll=KORBOOK&currentPage=1&orderClick=LAH')
bs = BeautifulSoup(html, 'html.parser')

total = bs.select_one('#searchCategory_1 > small')
pages = int(total.text.strip().replace(',', '')) / 20 #전체 인덱스수(1,200여 개) 중 컴머(,) 제거
pages = math.ceil(pages) #올림
print('페이지수:', pages)

페이지수: 57

In [ ]:
import time
from urllib.request import urlopen
from bs4 import BeautifulSoup

total_titles =[]
total_authors =[]
total_prices =[]
for i in range(1, pages+1):
    html = urlopen(f'https://search.kyobobook.co.kr/web/search?vPstrKeyWord=python&searchPcondition=1&searchCategory=%EA%B5%AD%EB%82%B4%EB%8F%84%EC%84%9C@KORBOOK&collName=KORBOOK&from_CollName=%EA%B5%AD%EB%82%B4%EB%8F%84%EC%84%9C@KORBOOK&searchOrder=0&vPstrTab=PRODUCT&from_coll=KORBOOK&currentPage={i}&orderClick=LAH')
    
    #html 분석기
    bs = BeautifulSoup(html, 'html.parser')
    #css 패턴에 해당하는 모든 태그들을 수집
    titles = bs.select('tr > td.detail > div.title > a > strong')
    authors = bs.select('tr > td.detail > div.author > a:nth-child(1)')
    prices = bs.select('tr > td.price > div.org_price')

    total_titles += titles
    total_authors += authors
    total_prices += prices

    #import time
    time.sleep(0.1)

books = list(zip(total_titles, total_authors, total_prices))

In [ ]:
print(len(books), '권이 검색되었습니다.')
print('=============================================')
for book in books:
    print(book[0].text.strip(), '-', book[1].text.strip(), '-', book[2].text.strip())

In [ ]:
items=[]
print(books)
for book in books:
    items.append([book[0].text.strip(), book[1].text.strip(),book[2].text.strip()])

In [28]:
import pandas as pd

df = pd.DataFrame(items, columns=['도서명', '저자', '정가'])
df.head()

                           도서명   저자       정가
0                  혼자 공부하는 파이썬  윤인성  18,000원
1              Do it! 점프 투 파이썬  박응용  18,800원
2      비전공자를 위한 이해할 수 있는 IT 지식  최원영  16,800원
3       파이어족 강환국의 하면 된다! 퀀트 투자  강환국  18,700원
4  이것이 취업을 위한 코딩 테스트다 with 파이썬  나동빈  34,000원

In [29]:
df.to_csv('c:/data/book/data2.csv', encoding='ms949', index=False)